
/*******************
 == Body ==
 ******************/

#body {
	padding-top: 50px;
}


/*******************
 == Navbar  ==
 ******************/



.navbar {
  background: rgba(246, 170, 132, 1);
}



/*******************
 == End Navbar  ==
 ******************/

/*h1 {
	position: absolute;
	top: 230px;
	right: 200px;
}*/

section {
	padding-top: 50px;
	background: rgb(232,224,209);
	min-height: 100vh;
	margin-bottom: 50px;
}

footer {
	text-align: center;
	padding-bottom: 10px !important;
}
/***************
 == Portfolio ==
 **************/

#projects-section {
	margin-top: 100px;
}



/*****************************
 == Skills and Technologies ==
 ****************************/


.skills ul li{
	list-style: none;
}


/**************
 == About Me ==
 *************/




 /*************************
 == Social Media Section ==
 *************************/
/*section#social-links{
	max-height: 10vh !important;
}*/

#social-links {
	border: 3px solid black;
	border-radius: 0px;
	width: 100%;
	height: 10%; 
	background: #000;
	text-align: center;
}

#social-links ul li {
	list-style: none;
	display: inline-block;
	font-size: 2em;
	padding: 0 10px;
}

#social-links ul li a {
	color: FFF;
	text-decoration: none;
}


